#jobTitle{
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

#jobPOW{
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

#jobDesc{
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
}

#randomJobTitle:empty, #randomJobPOW:empty, #randomJobDescription:empty{
    display:none;
}

#buttonContainer{
    width: 150px;
}

#JobButton{
    width: 150px;
    border-radius: 1em;
    border: none;
}

#JobButton button:active{
    border: none;
}

@media only screen and (max-width: 500px){
    #content{
        font-size: x-large;
    }
}